<form id="webData">
    <div class="input-group">
        <input v-model="url" type="text" class="form-control"
            placeholder="URL" aria-label="URL" aria-describedby="URL">
        <div class="input-group-append">
            <button v-on:click="getContent" class="btn btn-primary"
                type="button">取得</button>
        </div>
    </div>

    <div class="input-group">
        <input v-model="query" type="text" class="form-control"
            placeholder="Query Selecter" aria-label="query-selecter"
            aria-describedby="query-selecter">
        <div class="input-group-append">
            <button v-on:click="setOriginal" class="btn btn-primary"
                type="button">抽出</button>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <textarea v-model="original" class="form-control" rows="10"
                placeholder="Original"></textarea>
        </div>
        <div class="col">
            <textarea v-model="translation" class="form-control"
                rows="10" placeholder="Translated"></textarea>
        </div>
    </div>
    <button v-on:click="clear" type="button" class="btn btn-primary">クリア</button>
    <button v-on:click="getTranslation" type="button"
        class="btn btn-primary">翻訳</button>
</form>
<div id="output"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	var webData = new Vue({
		el : "#webData",
		data : {
			url : null,
			query : null,
			original : null,
			translation : null
		},
		methods : {
			errorTerminate : function(error) {
				window.alert(error.message);
			},
			setContent : function(response) {
				var output = document.getElementById("output");
				output.innerHTML = response;
			},
			getContent : function() {
				google.script.run.withSuccessHandler(this.setContent)
						.withFailureHandler(this.errorTerminate).getContent(
								this.url);
			},
			getOriginal : function() {
				var contents = document.querySelectorAll(this.query);
				return contents;
			},
			setOriginal : function() {
				var contents = this.getOriginal();

				for (var i = 0; i < contents.length; i++) {
					this.original += contents[i].textContent + "\r\n\r\n";
				}
			},
			setTranslation : function(response) {
				this.translation = response;
			},
			getTranslation : function() {
				google.script.run.withSuccessHandler(this.setTranslation)
						.withFailureHandler(this.errorTerminate)
						.getTranslation(this.original);
			},
			clear : function() {
				this.url = null;
				this.query = null;
				this.original = null;
				this.translation = null;
				var output = document.getElementById("output");
				output.innerHTML = null;
			}
		}
	});
</script>
